        <div  class="form-signin text-center">
            <div ng-include="'www/app/templates/alerts_template.html'"></div>
            <div ui-view>
                <form class="form-signin" ng-submit="vm.login()">
                    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
                    <label for="inputLogin" class="sr-only">Login</label>
                    <input id="inputLogin" class="form-control" placeholder="Login" ng-readonly="vm.dataLoading" ng-model="vm.username" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-readonly="vm.dataLoading" ng-model="vm.password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid || vm.dataLoading">Log in</button>
                </form>
            </div>
        </div>
